@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
        font-family: Oswald, sans-serif;
}

a { text-decoration: none !important; }

img { max-width: 100%; }

.socials {
        .text { 
                color: #ddd; 
                margin-right: 5px; 
        }

        .slink {
                color: #ddd; 
                margin-right: 10px;
        }
}