@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
        font-family: Oswald, sans-serif;
}

a { text-decoration: none !important; }

img { max-width: 100%; }

.socials {
        .text { 
                color: #ddd; 
                margin-right: 5px; 
        }

        .slink {
                color: #ddd; 
                margin-right: 10px;
        }
}

.btn {
        &.cus {
                border-radius: 0px;
                border-width: 0px;
                background-color: #58815c;
                padding: 5px 25px;
                
        }

}

input {
        border-radius: 0;
        padding: 5px 20px;
        outline: none;
        border: 0px;
        font-family: "Crimson Text", serif;
        font-size: 18px;
        font-style: italic;
}