@import "./variables";

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
        font-family: Oswald, sans-serif;
}

a { text-decoration: none !important; }

img { max-width: 100%; }

.socials {
        .text { 
                color: #ddd; 
                margin-right: 5px; 
        }

        .slink {
                color: #ddd; 
                margin-right: 10px;
        }
}

.btn {
        &.cus {
                border-radius: 0px;
                border-width: 0px;
                background-color: #58815c;
                padding: 5px 25px;
                
        }

}

input, textarea {
        border-radius: 0;
        padding: 10px 20px;
        outline: none;
        border: 0px;
        font-family: "Crimson Text", serif;
        font-size: 18px;
        font-style: italic;
}

textarea {
        resize: none;
}

.small-hl {
        font-family: "Crimson Text", serif;
        color: #aaa;
        font-style: italic;
        font-size: 21px;
}

.medium-hl {
        color: #222;
        font-size: 50px;
        font-weight: 500;
}

.medium-hl-2 {
        color: #222;
        font-size: 30px;
        font-weight: 500;
}

.medium-hl-3 {
        color: #222;
        font-size: 42px;
        font-weight: 700;
}

.desc {
        color: #666;
        font-weight: 300;
        max-width: 400px;
        font-family: Muli,sans-serif;
}

.detail-line { 
      margin-top: 10px;
      
      span {
        font-family: "Crimson Text", serif;
        color: #aaa;
        font-style: italic;
        font-size: 18px;
        font-weight: 300;
      }

      & > :nth-child(1) {
        margin-right: 20px;
      }

      i { margin-right: 5px; }
}
