@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap');


* {
        font-family: Oswald, sans-serif;
}

a { text-decoration: none !important; }

img { max-width: 100%; }